.addBtn {
	padding: 10px;
	width: 35%;
	background: #1E5128;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
	font-weight: bold;
}

.addBtn:hover {
	background: #1e5128a0;
}


ol,
ul {
	padding-left: 0;
}


ul li {
	position: relative;
	cursor: pointer;
	list-style: none;
	background: #6fed9f;
	font-size: 18px;
	padding: 12px 8px 12px 40px;
	transition: all 0.2s ease;
	user-select: none; 
}




@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Aref Ruqaa Ink', serif;
}


body {
	background: #DFF6FF;
}


.header {
	background: #83e270;
	padding: 40px 60px;
	color: #fff;
	text-align: center;
}

h1{
	margin-bottom: 40px;
	font-weight: 600;
	text-decoration: underline;
}

.header::after {
	content: "";
	display: table;
	clear: both;
}

input[type="text"] {
	position: relative;
	border: none;
	width: 65%;
	padding: 10px;
	float: left;
	font-size: 16px;
	outline: none;
	border: black;
}


ul li:nth-child(odd) {
	background: #b9ffc8;
}


ul li:hover {
	background: #afffd6;
}

ul li.checked {
	background: rgba(83, 250, 6, 0.659);
	
}

ul li.checked::before {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: rgba(4, 224, 78, 0.479);
	border-width: 0 4px 4px 0;
	top: 50%;
	left: 16px;
	transform: translateY(-50%) rotate(45deg);
	height: 20px;
	width: 10px;
}


.close {
	position: absolute;
	font-weight: bold;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 11px 16px;
}


.close:hover {
	background: red;
	color: #fff;
}


